* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  background-color: #f0f0f0;
}

header {
  height: 346px;

  background-color: #535971;
  color: whitesmoke;
}

header div {
  max-width: 1082px;
  margin: auto;
  padding-top: 60px;
}

form {
  max-width: 1084px;
  margin: auto;
  
  background-color: #ffffff;
  height: 800px;
}

fieldset {
  padding: 8px;
}