* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  background-color: rgb(219, 219, 219);
}

header {
  background-color: black;
  height: 340px;
}

header h1 {
  color: whitesmoke;
  margin-bottom: 24px;
  font-size: 2.1em;
}

header p {
  color: rgb(83, 180, 148);
}

header div {
  max-width: 1180px;
  margin: auto;
  padding: 80px 0px 20px 110px;
}

form {
  background: rgb(243, 241, 241);
  height: 500px;

  max-width: 958px;
  margin: auto;

  position: relative;
  top: -80px;
  padding: 60px;
}

fieldset {
  border: none;
}
