html {
  min-height: 100%;
  margin: 0px;
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.88%,
    rgba(227, 255, 248, 0.38) 100%
  );
}

body {
  max-width: 1400px;
  margin: 80px auto 0px;
}

header {
  display: flex;
  justify-content: space-between;
}

header a {
  font-family: mulish;
  font-size: 18px;
  padding: 20px;
  color: #1f1534;
  text-decoration: none;
  opacity: 0.80;
}

header a:hover {
  font-weight: bold;
  opacity: 1;
}

main {
  margin: 80px 0px 200px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-top: 60px;
  font-family: mulish;
  font-size: 59px;
}

main p {
  margin-top: 40px;
  font-family: open sans;
  line-height: 30px;
  color: #7d7987;
}

main span {
  color: #89c5cc;
}

button {
  margin-top: 40px;
  display: flex;
  padding: 16px 40px;
  align-items: center;
  background-color: #69b99d;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #4e9b80;
  cursor: pointer;
}

button a {
  font-family: dm sans;
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin-left: 4px;
}

footer {
  text-align: center;
  font-family: open sans;
}

#decoration {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
