@charset  'UTF-8'; 

.principal {
    background-color: rgba(255, 174, 0, 0.507);
    color: aliceblue;
}

.principal:hover {

    color: black;
    text-decoration: underline;
}

div, body {
    text-indent: 5%;
    background-color:antiquewhite ;
}
body {
    background-color: brown;
    margin: 3%;
    width:  500px;
    height: 2000px;
}
